html {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #0a0a23;
}

/* The ~= (tilde equals) attribute selector is used to select elements with an attribute value that contains a specified word, delimited by whitespace. This is particularly useful for matching individual class names in a space-separated list of class values. */
span[class~="sr-only"] {
  border: 0 !important;

	/* deprecated */
	/* clip: rect(1px, 1px, 1px, 1px); */

	/* hides the element */
	clip-path: inset(50%) !important;

	width: 1px !important;
	height: 1px !important;
	overflow: hidden !important;
	white-space: nowrap !important;
	position: absolute !important;
	padding: 0 !important;
	margin: -1px !important;
}

h1 {
	max-width: 37.25rem;
	margin: 0 auto;
	padding: 1.5rem 1.25rem;
}

h1 .flex {
	display: flex;
	flex-direction: column-reverse;
	gap: 1rem;
}

/* The :first-of-type pseudo-selector is used to target the first element that matches the selector. */
h1 .flex span:first-of-type {
	font-size: 0.7em;
}

h1 .flex span:last-of-type {
	font-size: 1.2em;
}

section {
	max-width: 40rem;
	margin: 0 auto;
	border: 2px solid #d0d0d5;
}

#years {
	display: flex;
	justify-content: flex-end;
	position: sticky; 
	top: 0;
	color: #ffffff;
	background-color: #0a0a23;

	/* The calc() function takes a single expression as its parameter, and the expression's result is used as the value for a CSS property */
	margin: 0 -2px;
	padding: 0.5rem calc(1.25rem + 2px) 0.5rem 0;

	z-index: 999;
}

/* The span[class] syntax will target any span element that has a class attribute set, regardless of the attribute's value. */
#years span[class] {
	font-weight: bold;
	width: 4.5rem;
	text-align: right;
}

.table-wrap {
	padding: 0 0.75rem 1.5rem 0.75rem;
}

/* The :not() pseudo-selector is used to target all elements that do not match the selector - in this case, any of your span elements that do not have the sr-only class */
/* span:not(.sr-only) { */
span {
	font-weight: normal;
}

table {
	/* allow cell borders to collapse into a single border, instead of a border around each cell */
	border-collapse: collapse;
	border: 0;
}



