html {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #0a0a23;
}

/* The ~= (tilde equals) attribute selector is used to select elements with an attribute value that contains a specified word, delimited by whitespace. This is particularly useful for matching individual class names in a space-separated list of class values. */
span[class~="sr-only"] {
  border: 0;

	/* deprecated */
	/* clip: rect(1px, 1px, 1px, 1px); */

	/* hides the element */
	clip-path: inset(50%);

	width: 1px;
	height: 1px;
	overflow: hidden;
	white-space: nowrap;
	position: absolute;
	padding: 0;
	margin: -1px;
}

h1 {
	max-width: 37.25rem;
	margin: 0 auto;
	padding: 1.5rem 1.25rem;
}
