html {
	box-sizing: border-box;
}

/* The ::before selector creates a pseudo-element which is the first child of the selected element, while the ::after selector creates a pseudo-element which is the last child of the selected element.  */
*, *::before, *::after {
	box-sizing: inherit;
}

#piano {
	background-color: #00471b;
	width: 992px;
	height: 290px;
	margin: 80px auto;
	padding: 90px 20px 0 20px;
	position: relative;
	border-radius: 10px;
}

.keys {
	background-color: #040404;
	width: 949px;
	height: 180px;
	padding: 2px;
	overflow: hidden;
}

.key {
	background-color: #ffffff;
	position: relative;
	width: 41px;
	height: 175px;

	margin: 2px;
	float: left;
	border-radius: 0 0 3px 3px;
}

/* ::before, ::after are like html elemets like span etc but we create them for styling purposes */
.key.black--key::after {
	content: '';
	background-color: #1d1e22;
	position: absolute;
	left: -18px;
	width: 32px;
	height: 100px;
  border-radius: 0 0 3px 3px;
}

.logo {
	width: 200px;
	position: absolute;
	top: 23px;
}

@media (max-width: 768px) {
	#piano {
		width: 358px;
	}

	.keys {
		width: 319px;
	}

	.logo {
		width: 150px;
	}
}

@media (min-width:769px) and (max-width:1199px) {
	#piano {
		width: 675px;
	}

	.keys {
		width: 634px;
	}
}
