/* * {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
} */

.gallery {
    width: 50%;
    border: 5px solid red;
}

img {
    width: 100%;
    padding: 5px;
    border: 5px solid blue;

    /* will adjust img inside the gallery div and will not let it overflow */
    /* box-sizing: border-box; */
}