* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #f5f6f7;
  color: #1b1b32;
  font-family: Helvetica;
  margin: 0;
}

/* The max() function uses the largest value, from a comma-separated list of values, as the property value. */
#logo {
  width: max(10rem, 18vw);
  background-color: #0a0a23;

  /* the logo should retain an aspect ratio of 35 / 4, and have padding around the text */
  /* The aspect-ratio property allows you to define the ratio between width and height of an element. */
  aspect-ratio: 35/4;
  padding: 0.4rem;
}

header {
  width: 100%;
  background-color: #1b1b32;
  height: 50px;
  display: flex;
}

h1 {
  color: #f1be32;
  font-size: min(5vw, 1.2em);
}
